:host {
    display: block;
    max-width: 100rem;
    margin: auto;
}

.container {
    max-width: 90%;
    margin: auto;
    margin-top: 5rem;
    padding-bottom: 4rem;   
    line-height: 1.15; 
}

.header {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 3rem;
}

.title {
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 0.5rem;
    margin-top: 4rem;
}

.prg {
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: justify;
    text-indent: 4rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 0.3rem;
    margin-top: 3rem;
    text-indent: 4rem;
}

.subtext {
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: justify;
    text-indent: 4rem;
}

.red {
    color: #D50000;
}