.nav {
    display: flex;    
    justify-content: center;
    gap: 15px;     
    margin-bottom: 30px;     
}

.description {
    margin-bottom: 30px;
}

.nav-button {
    font-size: 12px;
    background-color: grey; 
    color: white;
}