<footer class="footer">
  <div class="content">
    <div class="quote" aria-label="Author's Message">
      <h3 class="header">Final Paper</h3>
      <span>"Thank you for your visit! Feel free to
        contact me with any suggestions."</span>
    </div>
    <div class="list-container">
      <h3 class="header" aria-hidden="true" id="links-title">Main Links</h3>
      <ul class="list" aria-labelledby="links-title">
        <li><a routerLink="/forms" class="item">Forms</a></li>
        <li><a routerLink="/courses" class="item">API</a></li>
        <li><a routerLink="/website" class="item">Website</a></li>
        <li><a routerLink="/resume" class="item">Resume</a></li>
      </ul>
    </div>
    <div class="contact" aria-label="Contact Info">
      <h3 class="header contact-header" aria-hidden="true">Contact Info:</h3>
      <div class="contact-icons">
        <a mat-icon-button href="mailto:gguimaraesabrao@gmail.com" target="_blank"
          aria-label="Talk to Gabriel via email">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" aria-hidden="true"
            viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path
              d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" />
          </svg>
        </a>        
      </div>
      <span class="contact-prg" aria-label="Gabriel's language info">English / Portuguese</span>
      <span class="contact-prg" aria-label="Gabriel's location">Brazil - Goiânia (GO)</span>
      <img class="logo-image" src="assets/gga-logo.png" alt="Author's logo">
      <span class="copy" aria-label="Copyright">Copyright &copy; {{myDate | date: 'yyyy'}} Gabriel Abrão
      </span>
    </div>
  </div>
</footer>