<footer class="footer">
  <div class="content">
    <div class="quote" aria-label="Author's Message">
      <h3 class="header">Final Paper</h3>
      <span>"Thank you for your visit! Feel free to
        contact me with any suggestions."</span>
    </div>
    <div class="list-container">
      <h3 class="header" aria-hidden="true" id="links-title">Main Links</h3>
      <ul class="list" aria-labelledby="links-title">
        <li><a routerLink="/forms" class="item">Forms</a></li>
        <li><a routerLink="/courses" class="item">API</a></li>
        <li><a routerLink="/website" class="item">Website</a></li>
        <li><a routerLink="/resume" class="item">Resume</a></li>
      </ul>
    </div>
    <div class="contact" aria-label="Contact Info">
      <h3 class="header contact-header" aria-hidden="true">Contact Info</h3>
      <div class="contact-icons">
        <a class="item" href="mailto:gguimaraesabrao@gmail.com" target="_blank">
          gguimaraesabrao&#64;gmail.com
        </a>
      </div>
      <span class="contact-prg" aria-label="Gabriel's language info">English / Portuguese</span>
      <span class="contact-prg" aria-label="Gabriel's location">Brazil - Goiânia (GO)</span>
      <img class="logo-image" src="assets/gga-logo.png" alt="Author's logo">
      <span class="copy" aria-label="Copyright">Copyright &copy; {{myDate | date: 'yyyy'}} Gabriel Abrão
      </span>
    </div>
  </div>
</footer>