.skills {
  display: grid;
  grid-template-columns: 170px 170px 170px;
  row-gap: 30px;
  column-gap: 30px;
  justify-content: center;  
  margin-bottom: 50px;
}

.skill {
  display: flex;
  flex-direction: column;   
  text-align: center;
}

.skill-icon {
  align-self: center; 
}

/* Rules for sizing the icon. 
font-size: 18px;
font-size: 24px; 
font-size: 36px; 
font-size: 48px; 
*/