.skills {
  display: grid;
  grid-template-columns: 170px 170px 170px;
  row-gap: 30px;
  column-gap: 30px;
  justify-content: center;  
  margin-bottom: 50px;
}

.centralize {    
    display:block;
    text-align: center;
}
