<section class="skills">
  <div class="skill">
    <mat-icon class="skill-icon">code</mat-icon>
    <span>Specialized in Front-end Development</span>
  </div>
  <div class="skill">
    <mat-icon class="skill-icon">palette</mat-icon>
    <span>Good knowleage in Web Design</span>
  </div>
  <div class="skill">
    <mat-icon class="skill-icon">import_contacts</mat-icon>
    <span>Constantly Learning and Optimizing</span>
  </div>
  <div class="skill">
    <mat-icon class="skill-icon">straight</mat-icon>
    <span>Keep it Straight and Simple</span>
  </div>
  <div class="skill">
    <mat-icon class="skill-icon">groups</mat-icon>
    <span>Friendly and Polite</span>
  </div>
  <div class="skill">
    <mat-icon class="skill-icon">engineering</mat-icon>
    <span>Engineer</span>
  </div>
</section>