<section class="skills">
  <div class="skill">
    <span class="material-symbols-outlined size-48 orange600 centralize">
      code
    </span>
    <span class="centralize">Specialized in Front-end</span>
  </div>
  <div class="skill">
    <span class="material-symbols-outlined size-48 orange600 centralize">
      palette
    </span>
    <span class="centralize">Good knowleage in Web Design principles</span>
  </div>

  <div class="skill">
    <span class="material-symbols-outlined size-48 orange600 centralize">
      import_contacts
    </span>
    <span class="centralize">Constantly Learning and Optimizing</span>
  </div>
  <div class="skill">
    <span class="material-symbols-outlined size-48 orange600 centralize">
      work
    </span>
    <span class="centralize">Hard Worker</span>
  </div>
  <div class="skill">
    <span class="material-symbols-outlined size-48 orange600 centralize">
      groups
    </span>
    <span class="centralize">Friendly and Polite</span>
  </div>
  <div class="skill">
    <span class="material-symbols-outlined size-48 orange600 centralize">
      engineering
    </span>
    <span class="centralize">Engineer</span>
  </div>
</section>
