<section class="skills">
  <div class="skill">

    <span class="centralize">
      <mat-icon>code</mat-icon>
    </span>
    <span class="centralize">Specialized in Front-end Development</span>
  </div>
  <div class="skill">
    <span class="centralize">
      <mat-icon>palette</mat-icon>
    </span>
    <span class="centralize">Good knowleage in Web Design</span>
  </div>
  <div class="skill">
    <span class="centralize">
      <mat-icon>import_contacts</mat-icon>
    </span>
    <span class="centralize">Constantly Learning and Optimizing</span>
  </div>
  <div class="skill">
    <span class="centralize">
      <mat-icon>straight</mat-icon>
    </span>
    <span class="centralize">Keep it Straight and Simple</span>
  </div>
  <div class="skill">
    <span class="centralize">
      <mat-icon>groups</mat-icon>
    </span>
    <span class="centralize">Friendly and Polite</span>
  </div>
  <div class="skill">
    <span class="centralize">
      <mat-icon>engineering</mat-icon>
    </span>
    <span class="centralize">Engineer</span>
  </div>
</section>