<section aria-labelledby="about-title">
  <h2 class="header" id="about-title">About</h2>
  <mat-divider class="divider"></mat-divider>
  <p class="content">
    After my first job as a developer at a leading IT company, I decided to focus on Frontend development.
    I did a deep dive into the basics, web design, and the Angular Framework. Looking back at this project now,
    I appreciate how valuable it was to build everything from scratch, working directly with the core concepts (with no
    Tailwind or AI tools). That's why this my <strong>final paper</strong>.
</section>