<header class="container">
    <h1 class="header">Website Features</h1>
    <p class="prg">This website was build trying to use as much as possible <strong class="blue">Angular's conventions,
            patterns and best
            practices</strong>, along with <strong class="blue">frontend basics</strong> and <strong class="blue">web
            design rules</strong>, all from updated
        documentations
        and
        courses.</p>
    <p class="prg">Here are some of what's been applied:</p>
</header>

<main class="container">
    <h2 class="title">Lazy Loading and Preloading</h2>
    <p class="prg">Allow us to speed up the website's startup time, by reducing the number of files downloaded and
        compiled when it is launched.</p>
    <p class="prg">Lazy loading allow us to load some modules on demand, while preloading quickly launch
        them after the initial navigation.</p>
    <p class="prg">The user can then benefit from a <strong class="red">reduced startup time</strong> and a <strong
            class="red">faster
            navigation</strong> to the
        lazy loaded
        modules.</p>

    <h2 class="title">Modular Approach</h2>
    <p class="prg">Standalone components are the new tendency in Angular apps, but since not everyone has yet migrated
        to the latest
        versions, I prefered to stick with the traditional modular approach.</p>
    <p class="prg">The components were divided into <strong>basic application module</strong>, <strong>feature
            modules</strong> and <strong>shared module</strong>. </p>
    <p class="prg">Modules help us to <strong class="red">organize</strong> the pieces of our application and
        arrange them into <strong class="red">blocks of funcionality</strong>. Also, they are required for lazy
        loading.
    </p>

    <h2 class="title">Application Structure and Organization</h2>
    <p class="prg">The basic recommendations to keep the application <strong class="red">organized and easy to work as
            it
            grows</strong>
        were
        applied, such as recommended file naming, folder structure, one item per file, symbol naming, organized code,
        etc.</p>

    <h2 class="title">Design</h2>
    <p class="prg">The basic design rules were applied to <strong class="red">give the user a better
            experience</strong>, such as
        using theming and typography system, whitespaces and visual hierarchy considerations, responsive rules and
        accessibility, optimized images, contrast checking, etc.
    </p>
</main>

<section class="container">
    <h2 class="header">Results - Lighthouse <em class="emp">(to be implemented)</em></h2>
</section>