<main class="container">
    <h1 class="header">Website Features</h1>
    <p class="prg">This website was build trying to use as much as possible the <b class="blue">Angular's Conventions
            and Best
            Practices</b>, following updated
        documentations
        and
        courses.</p>
    <p class="prg">Since Angular is a solid framework, it has all the tools to build great <b>scalable, performable and
            testable</b> websites, with responsive design and accessibility.</p>

    <p class="prg">Here are some of what's been applied to this website:</p>

    <h2 class="title">Lazy Loading and Preloading</h2>
    <p class="prg">Allow us to speed up the website's startup time, by reducing the number of files downloaded and
        compiled when it is launched.</p>
    <p class="prg">Lazy loading allow us to load some modules on demand, while preloading quickly launch
        them after the initial navigation.</p>
    <p class="prg">The user can then benefit from a <b class="red">reduced startup time</b> and a <b class="red">faster
            navigation</b> to the
        lazy loaded
        modules.</p>

    <h2 class="title">Modular Approach</h2>
    <p class="prg">Standalone components are the new tendency, but since not everyone has yet migrated to the latest
        versions, I prefered to stick with the traditional modular approach.</p>
    <p class="prg">The components were divided into <b>basic application module</b>, <b>feature
            modules</b> and <b>shared module</b>. </p>
    <p class="prg">Modules help us to <b class="red">organize</b> the pieces of our application and
        arrange them into <b class="red">blocks of funcionality</b>. Also, they are required for lazy loading.
    </p>

    <h2 class="title">Application Structure and Organization</h2>
    <p class="prg">The basic recommendations to keep the application <b class="red">organized and easy to work as it
            grows</b>
        were
        applied, such as recommended file naming, folder structure, one item per file, symbol naming, organized code,
        etc.</p>

    <h2 class="title">Design</h2>
    <p class="prg">The basic design rules were applied to <b class="red">give the user a better experience</b>, such as
        having a theming
        system,
        a typography system, whitespaces and visual hierarchy, responsive rules and accessibility
        tags.
    </p>
</main>

<section class="container">
    <h1 class="header">Results - Lighthouse <em class="emp">(to be implemented)</em></h1>
    <p class="prg"></p>
</section>