<h1>Template Driven Form Example</h1>
<main class="container">
  <form class="form" #signUpForm="ngForm" (ngSubmit)="signUp()">
    <label for="userName">Username:</label>
    <input 
      type="text"
      name="userName"
      [(ngModel)]="user.userName"
      id="userName"
    /><br>

    <label for="age">Age:</label>
    <input type="number" name="age" [(ngModel)]="user.age" id="age" />
    <br>
    <label for="phone">Phone number:</label>
    <input type="tel" name="phone" [(ngModel)]="user.phone" id="phone" />
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" [(ngModel)]="user.email" id="email" />
    <br>
    <label for="adress">Adress:</label>
    <input type="text" name="adress" [(ngModel)]="user.adress" id="adress" />
    <br>
    <label for="password">Password: </label>
    <input
      type="password"
      name="password"
      [(ngModel)]="user.password"
      id="password"
    />
    <br>
    <label for="notifications">Receive notifications on:</label>
    <input
      type="radio"
      name="notifications"
      value="email"
      [(ngModel)]="user.notifications"
    />Email
    <input
      type="radio"
      name="notifications"
      value="phone"
      [(ngModel)]="user.notifications"
    />Phone
    <br>
    <label for="agreement">I agree with the terms</label>
    <input
      type="checkbox"
      name="agreement"
      [(ngModel)]="user.agreement"
      id="agreement"
    />
    <br>
    <button type="submit" [disabled]="!signUpForm.form.valid">Sign Up</button>
  </form>
</main>
