<section class="about">
    <h2 class="header">This Project</h2>
    <mat-divider class="divider"></mat-divider>
    <p class="content">The main purpose is to <span class="prm">demonstrate my knowledge</span> with the framework,
        along with the
        frontend
        development basics. Even thought this a
        demonstration, it was build to be <span class="prm">similar as a real application</span>, using the same
        techniques and best practices that would have been applied. <span class="prm red">Samples and more explanations
            can
            be found in the
            demos section. </span>
</section>