:host {
  margin-top: 8rem;
  margin-bottom: 12rem;
}

.intro {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  padding-left: 1rem;
}

.intro-photo {
  width: 12rem;
}

.photo {
  max-width: 100%;
  border-radius: 10%;
}

.intro-text {
  align-self: center;
}

.cheering {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #e5133c;
  padding-left: 0.3rem;
  text-transform: uppercase;
}

.occupation {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.sub {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;  
}

.blue {
  font-weight: 500;
  color: #3949AB;
}

// ======= QUERIES ========

// Below 816px
@media (max-width: 51em) {

  :host {
    margin-top: 6rem;
    margin-bottom: 8rem;
  }

  .intro {
    gap: 1.2rem;    
  }

  .intro-photo {
    width: 11rem;
    margin-left: 3.2rem;
  }

  .occupation {
    font-size: 4rem;
  }
}

// Below 592px
@media (max-width: 37em) {

  .intro {
    flex-direction: column;
    text-align: center;
    padding-left: 0;
  }

  .intro-photo {
    width: 17rem;
    margin: auto;
  }

  
  .intro-text {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .occupation {
    font-size: 3.3rem;
    margin: auto;  
    margin-bottom: -0.3rem; 
  }

  .sub {
    padding: 0 20px;
  }
}