<nav class="toolbar">
  <img class="logo" src="assets/gga-logo.png" alt="Author's logo">
  <div class="nav" *ngIf="!mobile">
    <a class="nav-item" routerLink="/home">Home</a>
    <button class="nav-btn" [matMenuTriggerFor]="menu" aria-label="Show demos links">Demos</button>
    <mat-menu #menu="matMenu">
      <a class="menu-item" mat-menu-item routerLink="/forms" aria-label="Navigate to Forms Demo">Forms</a>
      <a class="menu-item" mat-menu-item routerLink="/courses" aria-label="Navigate to Courses Demo">API</a>
      <a class="menu-item" mat-menu-item routerLink="/website" aria-label="Navigate to Website Demo">Website</a>
    </mat-menu>
    <a class="nav-item" routerLink="/resume">Resume</a>
  </div>
  <div class="social">
    <a class="icon" mat-icon-button href="mailto:gguimaraesabrao@gmail.com" target="_blank"
      aria-label="Talk to the author via email">
      <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" aria-hidden="true" fill="white"
        viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
        <path
          d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" />
      </svg>
    </a>    
    <a mat-icon-button class="icon" href="https://github.com/ggabrao" target="_blank" aria-label="Author's GitHub">
      <img src="assets/github-mark-white.png" alt="" aria-hidden="true"></a>
  </div>
  <div class="nav" *ngIf="mobile">
    <a class="nav-item" routerLink="/home">Home</a>
    <button class="nav-btn" [matMenuTriggerFor]="menu">Demos</button>
    <mat-menu #menu="matMenu">
      <a class="menu-item" mat-menu-item routerLink="/forms" aria-label="Link to Forms">Forms</a>
      <a class="menu-item" mat-menu-item routerLink="/courses" aria-label="Link to Courses">API</a>
      <a class="menu-item" mat-menu-item routerLink="/website" aria-label="Link to Website">Website</a>
    </mat-menu>
    <a class="nav-item" routerLink="/resume">Resume</a>
  </div>

</nav>