.toolbar {
    height: 5rem;
    background: linear-gradient(135deg, #4a5bbf 0%, #5a3e8b 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
}

.logo {
    height: 2.5rem;
}

.nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0.1rem);
    display: flex;
    gap: 8px;
}

.nav-btn {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    width: 10rem;
    height: 4rem;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    width: 10rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
}

.nav-item:hover,
.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.249);
    border-radius: 5%;
}

.social {
    scale: .90;
    transform: translateX(10%);
}

// ======= QUERIES ========

// Below 816px
@media (max-width: 51em) {

    .social {
        scale: .8;
        transform: translateX(20%);
    }
}

// Below 592px
@media (max-width: 37em) {

    .toolbar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 10rem;
        padding-right: 5px;
        padding-left: 5px;
    }

    .logo {
        height: 2.8rem;
        transform: translateX(10px);
    }

    .nav {
        position: relative;
        left: 0;
        transform: translateX(0px);
        grid-column: 1/-1;
        grid-row: 2;
        justify-content: center;
        align-self: start;
        display: flex;
    }

    .social {
        scale: .90;
        transform: translateX(5%);
        justify-self: end;
    }
}