:host {  
  margin-bottom: 6.4rem; 
}

.demonstrations {
  max-width: 100rem;  
  margin: auto;
}

.header {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: -0.5px;  
  line-height: 1.15;
  text-align: center;
  margin-bottom: 2.5rem;
}


.paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 4.5rem;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.card-header {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.15;
  margin-bottom:1.5rem;
}

.card-img {  
  max-width: 12rem;
  cursor:pointer;
}

.centralize {
 text-align: center;
}

.card-item {
  margin-left: 6.5rem;  
 }

.card-item2 {
  margin-left: 1rem;
}

.card-item3 {
  margin-left: 2.7rem;
}