<section class="demonstrations">
    <h2 class="header">Demonstrations</h2>
    <p class="paragraph">Come check some demos with common website components using Angular!</p>
    <div class="cards">
        <div class="card red" routerLink="/forms">
            <h3 class="card-header">Forms</h3>
            <img class="card-img" src="./../../assets/forms.png" alt="Angular logo with a form icon">
            <ul class="list">
                <li>TD x Reactive</li>
                <li>Validations</li>
                <li>Dynamic Field</li>
                <li>Material</li>
            </ul>
        </div>
        <div class="card blue" routerLink="/courses">
            <h3 class="card-header">API</h3>
            <img class="card-img" src="./../../assets/api.png" alt="Angular logo with a API icon">
            <ul class="list">
                <li>Resolvers</li>
                <li>Http CRUD</li>
                <li>Routes</li>
                <li>Dialog</li>
            </ul>
        </div>
        <div class="card green" routerLink="/website">
            <h3 class="card-header">Website</h3>
            <img class="card-img" src="./../../assets/website.png" alt="Angular logo with a website icon">
            <ul class="list">
                <li>Lazy Loading</li>
                <li>Preloading</li>
                <li>Best Practices</li>
                <li>Lighthouse</li>
            </ul>
        </div>
    </div>
</section>