<section class="demonstrations">
    <h2 class="header">Demonstrations</h2>
    <p class="paragraph">Come check some demos explaining Angular techniques!</p>
    <div class="cards">
        <div class="card red" routerLink="/forms">
            <h3 class="card-header">Forms</h3>
            <img class="card-img" src="./../../assets/forms.png" alt="Angular logo with a form icon">
            <mat-list>
                <mat-list-item class="centralize">TD x Reactive</mat-list-item>
                <mat-list-item class="card-item">Validations</mat-list-item>
                <mat-list-item class="card-item">Dynamic Form</mat-list-item>
                <mat-list-item class="card-item">Regex</mat-list-item>
            </mat-list>
        </div>
        <div class="card blue" routerLink="/courses">
            <h3 class="card-header">API</h3>
            <img class="card-img" src="./../../assets/api.png" alt="Angular logo with a API icon">
            <mat-list class="card-features">
                <mat-list-item class="centralize">Resolvers</mat-list-item>
                <mat-list-item class="card-item2">Http CRUD</mat-list-item>
                <mat-list-item class="card-item2">Routes</mat-list-item>
                <mat-list-item class="card-item2">Dialog</mat-list-item>
            </mat-list>
        </div>
        <div class="card green" routerLink="/website">
            <h3 class="card-header">Website</h3>
            <img class="card-img" src="./../../assets/website.png" alt="Angular logo with a website icon">
            <mat-list class="card-features">
                <mat-list-item class="centralize">Lazy Loading</mat-list-item>
                <mat-list-item class="card-item3">Pre-Loading</mat-list-item>
                <mat-list-item class="card-item3">Angular Material</mat-list-item>
                <mat-list-item class="card-item3">Lighthouse</mat-list-item>
            </mat-list>
        </div>
    </div>
</section>