<section class="demonstrations">
    <h2 class="header">Demonstrations</h2>
    <p class="paragraph">Come check some demos with common website components using Angular!</p>
    <div class="cards">
        <div class="card red" routerLink="/forms">
            <h3 class="card-header">Forms</h3>
            <img class="card-img" src="./../../assets/forms.png" alt="Angular logo with a form icon">
            <mat-list>
                <mat-list-item>TD x Reactive</mat-list-item>
                <mat-list-item>Validations</mat-list-item>
                <mat-list-item>Dynamic Field</mat-list-item>
                <mat-list-item>Material</mat-list-item>
            </mat-list>
        </div>
        <div class="card blue" routerLink="/courses">
            <h3 class="card-header">API</h3>
            <img class="card-img" src="./../../assets/api.png" alt="Angular logo with a API icon">
            <mat-list class="card-features">
                <mat-list-item>Resolvers</mat-list-item>
                <mat-list-item>Http CRUD</mat-list-item>
                <mat-list-item>Routes</mat-list-item>
                <mat-list-item>Dialog</mat-list-item>
            </mat-list>
        </div>
        <div class="card green" routerLink="/website">
            <h3 class="card-header">Website</h3>
            <img class="card-img" src="./../../assets/website.png" alt="Angular logo with a website icon">
            <mat-list class="card-features">
                <mat-list-item>Lazy Loading</mat-list-item>
                <mat-list-item>Preloading</mat-list-item>
                <mat-list-item>Best Practices</mat-list-item>
                <mat-list-item>Lighthouse</mat-list-item>
            </mat-list>
        </div>
    </div>
</section>