<h1 mat-dialog-title>Add a new course</h1>
  <form class="form" #frm="ngForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input #name="ngModel" type="text" name="name" [(ngModel)]="course.name" matInput required maxlength="15" />
      <mat-error *ngIf="name.errors?.['required']">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Duration</mat-label>
      <input #duration="ngModel" type="number" name="duration" [(ngModel)]="course.duration" matInput required min="1"
        max="99" pattern="[0-9]*" />
      <mat-error *ngIf="duration.errors?.['required']">Duration is required</mat-error>
      <mat-error *ngIf="duration.errors?.['min']">Duration must be between 1 and 99</mat-error>
      <mat-error *ngIf="duration.errors?.['max']">Duration must be between 1 and 99</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rating</mat-label>
      <input #rating="ngModel" type="number" name="rating" [(ngModel)]="course.rating" matInput required min="0" max="5"
        pattern="[0-5]*" />
      <mat-error *ngIf="rating.errors?.['required']">Rating is required</mat-error>
      <mat-error *ngIf="rating.errors?.['min']">Rating must be between 0 and 5</mat-error>
      <mat-error *ngIf="rating.errors?.['max']">Rating must be between 0 and 5</mat-error>
    </mat-form-field>

    <button [disabled]="!frm.form.valid" mat-raised-button color="primary" [mat-dialog-close]="frm.value">
      Save
    </button>
    <button mat-raised-button color="warn" (click)="onCancel()">
      Cancel
    </button>
  </form>
