.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    font-size: 20px;
}

.footer-social {
    display: flex;
    gap: 10px;
}

.logo {
    padding-left: 10rem;
    height: 2.3rem;
}