@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 600);
$my-accent: mat.define-palette(mat.$blue-gray-palette, 200);
$my-warn: mat.define-palette(mat.$red-palette, A700);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.core-theme($my-theme); 

@include mat.button-theme($my-theme);
@include mat.icon-theme($my-theme);
@include mat.menu-theme($my-theme);
@include mat.checkbox-theme($my-theme);
@include mat.dialog-theme($my-theme);
@include mat.form-field-theme($my-theme);
@include mat.input-theme($my-theme);
@include mat.progress-spinner-theme($my-theme);
@include mat.radio-theme($my-theme);
@include mat.table-theme($my-theme);

