@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$blue-palette, 600);
$accent: mat.define-palette(mat.$blue-gray-palette, 200);
$warn: mat.define-palette(mat.$red-palette, A700);

$theme: mat.define-light-theme((
 color: (
   primary: $primary,
   accent: $accent,
   warn: $warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.core-theme($theme); 

@include mat.button-theme($theme);
@include mat.icon-theme($theme);
@include mat.menu-theme($theme);
@include mat.checkbox-theme($theme);
@include mat.dialog-theme($theme);
@include mat.form-field-theme($theme);
@include mat.input-theme($theme);
@include mat.progress-spinner-theme($theme);
@include mat.radio-theme($theme);
@include mat.table-theme($theme);

/* FONT SIZE SYSTEM (px)
h1   h2   h3                  p     small
48 / 40 / 33 / 28 / 23 / 19 / 16 /    13  / 11
 
Normal sized text -> 16 / 19 / 23 / 28
Long text -> 23 / 28
Headlines -> 48 / 40 / 33

*/

/* LINE HEIGHT

Normal sized text -> 1.5 - 2
Big Text ->  1 - 1.5
-----Rule: The smaller font size or longer, the larger
*/

/* LETTER SPACING
  -Headers -> Decrease if they look unnatural (0 to -4px)
  -Short titles -> try SMALL + BOLD + INCREASED LETTER SPACING
*/