<section class="about">
  <h2 class="header">About</h2>
  <mat-divider class="divider"></mat-divider>
  <p class="content">
    I started as a developer after being approved in one of the best IT companies. After working in real
    projects
    and receiving good feedback, I decided to <span class="prm">specialize in Front-End development</span>, so dived
    into a deep study of the Angular
    Framework,
    expanding my skills to build a broad spectrum of web
    applications and websites.
  </p>  
</section>