<section class="about">
  <h2 class="header">About</h2>
  <mat-divider class="divider"></mat-divider>
  <p class="content">
    After the first experience as a developer, in one of the best IT companies, I decided to specialize in the frontend,
    so
    dived
    into a deep study of the Angular
    Framework,
    expanding my skills to build any scale of web
    apps and websites.
  </p>
  <p class="content">The main purpose is to demonstrate some of my knowledge with the framework, along with the frontend
    development basics.
    Even thought this a
    small project, many advanced techniques and best practices were applied to achieve
    good performance and allow it to be scalable, along with web design rules, responsive design and many others. </p>
  <p>Come check my demo section</p>
  <p class="content">
    Now I'm
    looking forward
    new opportunities and challenges to keep learning and continue my career as an Angular Developer.</p>
</section>