.about {
    height: 25vh;
}

.header {
    font-size: 1.9rem;
}

.divider {
    color: #3949AB;   
}

.content {
    font-size: 1.6rem;
    font-weight: 300;  
    line-height: 1.5;   
    text-align: center;   
}

.prm {
    font-weight: 500;
    color: #D50000;
}