.info {   
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
}


.info-quote {
   font-size: 19px;  
   text-align: center; 
   width: 760px;   
}

.red {
    color: red;
}