<main class="intro">  
  <picture class="intro-photo">
    <img class="photo" src="./../../../assets/Profile.png" alt="Photo of me"> </picture>
  <section class="intro-text">
    <p class="intro-text-cheering">Hi, I'm Gabriel Abrão. Welcome!</p>
    <div class="intro-text-occupation">
      <p class="occupation">Angular Web Developer</p>
      <img
        src="./../../../assets/Angular logo.png"
        alt="logo of Angular"
        width="50px"
        style="translate: 0 -7px"
      />
    </div>
    <p class="intro-text-learn">
      Learn more about my work in the <span style="color: red">Demos</span> and
      <span style="color: red">App</span> sections
    </p>
    <button mat-raised-button color="warn">Hire me</button>
  </section>
</main>
