<main class="intro">
  <picture class="intro-photo">    
   
  </picture>
  <section class="intro-text">
    <p class="intro-text-cheering">Hi! I'm Gabriel Abrão.</p>
    <div class="intro-text-occupation">
        <p class="occupation">Angular Web Developer</p>
        <img class="logo" src="./../../../assets/Angular logo.png" alt="logo of Angular" width="40px" style="translate: 0 -3px;">
    </div>
    <p class="intro-text-learn">Learn more about my work in the <span style="color:red">Demos</span> and <span style="color:red">App</span> sections</p>
  </section>
</main>
