<main class="container">
    <h1 class="header">Resume</h1>
    <h2 class="title">Previous Career</h2>
    <p class="prg">I'm a former Civil Engineer, but I've realized it was not my passion, so decided to find
        something I could spend the
        rest of my life with, and then I found programming and fell in love with it.</p>

    <h2 class="title">First contact with Programming</h2>
    <p class="prg">I've decided not to do a new graduation, so begun to learn on my own with online
        courses,
        documentations and
        researches.</p>
    <p class="prg">After learning the basics, I've signed up for Start by Capgemini program, a job selection process
        for those who wanted to begin a developer career. After doing the training and being approved on
        the
        tests and
        interview, I got the job.</p>

    <h2 class="title">Capgemini <span class="job">(Custom Solutions Analyst | August/2022 - May/2023)</span></h2>
    <h3 class="subtitle">Training and Courses</h3>
    <p class="subtext">Java, Angular, Agile, Soft skills, Git, etc.</p>
    <p class="subtext">Training Projects with team</p>
    <h3 class="subtitle">Working for client in large project</h3>
    <p class="subtext">Tasks in Back-end, Front-end and BFF</p>
    <p class="subtext">Team work with Agile methodology</p>
    <p class="subtext">Project documentation and decisions</p>
    <p class="subtext">Participation on the stages of a MVP process</p>

    <h2 class="title">Front-end Specialization</h2>
    <p class="prg">After the initial experience through all the areas, I've decided to take some months for
        studying and
        specialize in
        Front-End
        development, so dived
        into the basics, Web Design and
        Angular Framework, expanding my skills to build a broad spectrum of web applications and
        websites.
    </p>

    <h2 class="title">First Project</h2>
    <p class="prg">This is my first front-end project, applying all that I've
        learnt and
        studied.
        Now, <b class="red">I'm looking forward
            new opportunities and challenges</b> to keep learning and
        continue my career as an <b class="blue">Angular Developer</b>.</p>
</main>

<footer class="container social">
    <a href="https://www.linkedin.com/in/gabriel-guimaraes-abrao-001195234/" target="_blank">
        <img class="social-logo" src="./../../assets/LI-In-Bug.png" alt="LinkedIn's Logo">
    </a>
    <span class="social-text">View my<br> LinkedIn&reg; Profile</span>
</footer>