@import 'css-star-rating/scss/star-rating';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    height: 100%;
    color: rgba(0, 0, 0, 0.87);
}

// =============QUERIES==============

// Below 816px
@media (max-width: 51em) {
    html {
        font-size: 56.25%;
    }
}

