<blockquote>
  <p class="info-quote">
    "I started as a developer in a great multinational company, through a
    program for people who dreamead of starting a new career in the area.
    Unfortunately, after <strong>good feedback from clients, staff and friends</strong>, I had to
    leave because of a sickness in both hip joints. Now, after treatment and
    lots of study and specialization, <strong class="red">I'm looking for new opportunities</strong>, and
        keen to learn!¨
  </p>
</blockquote>
