.logo {
    height: 3rem;
}

.nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0.1rem);
    display: flex;
    gap: 8px;
}

.nav-btn {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    width: 10rem;
    height: 4.8rem;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    width: 10rem;
    height: 4.8rem;
    text-align: center;
    line-height: 4.8rem;
}

.nav-item:hover,
.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.249);
    border-radius: 5%;
}

.spacer {
    flex: 1 1 auto;
}

// ======= QUERIES ========

// Below 816px
@media (max-width: 51em) {

    .nav-btn {
        width: 8rem;
    }
    
    .nav-item {
        width: 8rem;  
    }

    .icon {
        scale: .9;
    }
}

// Below 592px
@media (max-width: 37em) {

    .toolbar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .logo {
        height: 2.8rem;
    }

    .nav {
        position: relative;
        left: 0;
        transform: translateX(0px);
        grid-column: 1/-1;
        grid-row: 2;
        justify-content: center;
        align-self: start;
        display: flex;
    }

    .icon {
        scale: .90;
        transform: translateX(5%);
        justify-self: end;
    }

}