.toolbar {
    display: flex;   
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    background: none;
}

.logo {
    height: 2.3rem;
}

.nav {
    display: flex; 
    text-align: center;  
    flex-basis: 50rem;     
}

.social {    
    display: flex;    
    gap: 1rem;
    padding-top: .8rem
}


