.toolbar {    
    height: 5rem;
    margin-bottom: 48px;
}

.logo {
    height: 2.5rem;
}

.nav {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    scale:1.1;
    transform: translateY(1px);
}

.item {
    flex: 0 1 9rem;
}

.social {
    scale: .95;
}

.adj {
    transform: translateX(-4px);
}