:host {
  flex: 0 1 45rem;
}

.form-title {
  margin-bottom: 30px;
}

.field {
  width: 28rem;
}

.submitted {
  display: flex;
  color: green;
}

.radio-label {
  display: block;
}

.notMatch {
  margin-top: -20px;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 20px;
}