.form-title {
    margin-bottom: 30px;
}

.form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;   
  }
  
  .full-width {
    width: 70%;
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

 .radio-label {
  display:block;
 }

.notMatch {
  font-size:14px;
}

.submitted {
  display: flex;
  color: green;
}