<main class="container">
  <h1 class="form-title">Reactive Form Example</h1>
  <form class="form" (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <mat-form-field class="full-width">
      <mat-label for="name">Name</mat-label>
      <input formControlName="name" type="text" id="name" matInput />
      <mat-error *ngIf="userForm.get('name')?.errors?.['required']"
        >Name is required</mat-error
      >
      <mat-error *ngIf="userForm.get('name')?.errors?.['pattern']"
        >Name must contain only letters</mat-error
      >
    </mat-form-field>

    <mat-form-field class="full-width"
      ><mat-label for="email">Email</mat-label>
      <input
        formControlName="email"
        type="email"
        id="email"
        matInput
        placeholder="name@domain.com"
      />
      <mat-error *ngIf="userForm.get('email')?.errors?.['required']"
        >Email is required</mat-error
      >
      <mat-error *ngIf="userForm.get('email')?.errors?.['email']"
        >Email must be valid</mat-error
      >
    </mat-form-field>

    <mat-form-field class="full-width"
      ><mat-label for="phone">Phone number</mat-label>
      <input
        formControlName="phone"
        type="tel"
        id="phone"
        matInput
        placeholder="1 555 5555555"
      />
      <mat-hint *ngIf="!userForm.get('phone')?.valid"
        >Only numbers and spaces</mat-hint
      >
      <mat-error *ngIf="userForm.get('phone')?.errors?.['pattern']"
        >Phone number must follow the pattern</mat-error
      >
      <mat-error *ngIf="userForm.get('phone')?.errors?.['required']"
        >Phone number is required</mat-error
      >
    </mat-form-field>

    <mat-form-field class="full-width"
      ><mat-label for="address">Address</mat-label>
      <input formControlName="address" type="text" id="address" matInput />
      <mat-error>Address is required</mat-error>
    </mat-form-field>

    <div formGroupName="passwordGroup">
      <mat-form-field class="full-width"
        ><mat-label for="password">Password</mat-label>
        <input
          formControlName="password"
          type="password"
          id="password"
          matInput
          maxlength="6"
        />
        <mat-hint *ngIf="!userForm.get('passwordGroup.password')?.valid"
          >Lenght must be between 4 and 6 characteres</mat-hint
        >
        <mat-error
          *ngIf="userForm.get('passwordGroup.password')?.errors?.['required']"
          >Password is required</mat-error
        >
        <mat-error
          *ngIf="userForm.get('passwordGroup.password')?.errors?.['minlength']"
        >
          Password must have at least 4 characteres</mat-error
        >
      </mat-form-field>

      <mat-form-field class="full-width"
        ><mat-label for="confirmPassword">Confirm Password</mat-label>
        <input
          formControlName="confirmPassword"
          type="password"
          id="confirmPassword"
          matInput
        />
        <mat-error
          *ngIf="userForm.get('passwordGroup.confirmPassword')?.errors?.['required']"
          >This field is required</mat-error
        >
      </mat-form-field>
      <span>
        {{confirmMessage}}</span
      >
    </div>

    <label id="notifications">Receive notifications:</label>
    <mat-radio-group formControlName="notifications">
      <mat-radio-button value="email">Email</mat-radio-button>
      <mat-radio-button value="text">Phone</mat-radio-button>
    </mat-radio-group>

    <mat-checkbox formControlName="agreement" class="agreement-checkbox"
      >I agree with the terms</mat-checkbox
    >
    <br /><br />
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!userForm.valid"
    >
      Sign Up
    </button>
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="populateTest()"
    >
      Test Data
    </button>
  </form>
</main>
