:host {
  width: 350px;
}

.title {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.15;
  margin-bottom: 2rem;
  margin-left: 7rem;
}

.field {
  width: 250px;
}

.notMatch {
  margin-top: -2rem;
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 2rem;
}

.checkbox {
  margin-bottom: 1rem;
}

.submitted {
  color: green;
  font-weight: 500;
  margin-left: 1rem;
}


// Below 816px
@media (max-width: 51em) {

  :host {
   margin:auto;
  }
}