<section class="demonstrations">
    <h2 class="header">Demonstrations</h2>
    <p class="paragraph">Come check some demonstrations explaining most of the Angular techniques being applied!</p>
    <div class="cards">
        <div class="card">
            <h3 class="card-header">FORMS</h3>
            <a routerLink="/forms" class="card-link"><img class="card-image" src="./../../assets/forms.png"
                    alt="Angular logo with a form icon"></a>
            <div class="card-features">
                <mat-accordion>
                    <mat-expansion-panel class="acc">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="acc-title">
                                Main Features
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="acc-content">TD x Reactive</p>
                        <p class="acc-content">Cross-Field Validation</p>
                        <p class="acc-content">Runtime Validation</p>
                        <p class="acc-content">Dynamic Inputs</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">API</h3>
            <a routerLink="/courses" class="card-link"><img class="card-image" src="./../../assets/api.png"
                    alt="Angular logo with a API icon"></a>
            <div class="card-features">
                <mat-accordion>
                    <mat-expansion-panel class="acc">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="acc-title">
                                Main Features
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="acc-content">Http CRUD</p>
                        <p class="acc-content">Routes</p>
                        <p class="acc-content">Resolvers</p>
                        <p class="acc-content">Dialog</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">WEBSITE</h3>
            <a routerLink="/website" class="card-link"><img class="card-image" src="./../../assets/website.png"
                    alt="Angular logo with a website icon"></a>
            <div class="card-features">
                <mat-accordion>
                    <mat-expansion-panel class="acc">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="acc-title">
                                Main Features
                            </mat-panel-title>
                        </mat-expansion-panel-header>  
                        <p class="acc-content">Lazy Loading</p>
                        <p class="acc-content">Pre-Loading</p>
                        <p class="acc-content">Angular Material</p>
                        <p class="acc-content">Lighthouse</p>                    
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</section>