<section class="demonstrations">
    <h2 class="header">Demonstrations</h2>
    <p class="paragraph">Come check some demonstrations explaining most of the Angular techniques being applied!</p>
    <div class="cards">
        <div class="card">
            <h3 class="card-header">Forms</h3>
            <img routerLink="/forms" class="card-link" src="./../../assets/forms.png"
                alt="Angular logo with a form icon">
            <div class="card-features">
                <mat-accordion>
                    <mat-expansion-panel class="acc">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="acc-title">
                                Main Features
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="acc-content">TD x Reactive</p>
                        <p class="acc-content">X-Field Validation</p>
                        <p class="acc-content">Runtime Validation</p>
                        <p class="acc-content">Dynamic Inputs</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">API</h3>
            <img routerLink="/courses" class="card-link" src="./../../assets/api.png"
                alt="Angular logo with a API icon">
            <div class="card-features">
                <mat-accordion>
                    <mat-expansion-panel class="acc">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="acc-title">
                                Main Features
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="acc-content">Http CRUD</p>
                        <p class="acc-content">Routes</p>
                        <p class="acc-content">Resolvers</p>
                        <p class="acc-content">Dialog</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">Website</h3>
            <img routerLink="/website" class="card-link" src="./../../assets/website.png"
                alt="Angular logo with a website icon">
            <div class="card-features">
                <mat-accordion>
                    <mat-expansion-panel class="acc">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="acc-title">
                                Main Features
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="acc-content">Lazy Loading</p>
                        <p class="acc-content">Pre-Loading</p>
                        <p class="acc-content">Angular Material</p>
                        <p class="acc-content">Lighthouse</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</section>