.demonstrations {
  max-width: 80rem;  
  margin: auto;
}

.header {
  font-size: 3.3rem;
  font-weight: 700;
  letter-spacing: -0.5px;  
  line-height: 1.15;
  text-align: center;
}

.paragraph {
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
 
}

.card-header {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.15;
}

.card-link {
 
}

.card-image {
  
}

.acc {
  // scale: .85;
  // max-width: 22rem;
}

.acc-title {
  font-size: 1.6rem;
  font-weight: 500;
}

.acc-content {
  font-size: 1.6rem;
  font-weight: 400;
}

.button {
  width: 120px;
  font-size: 3rem;
}

.start {
  justify-self: start;
}

.end {
  justify-self: end;
}