<section class="demonstrations">
    <h2 class="header">Demonstrations</h2>
    <p class="paragraph">I've prepared some demonstrations using the main Angular features. Come check them!</p>
    <div class="cards">
        <div class="card">
            <h3 class="card-header">Forms</h3>
            <a href="" class="card-link"><img class="card-image" src="./../../assets/forms.png"
                    alt="Angular logo with a form"></a>
            <div class="card-features">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="title">
                                Main Features
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>TD x Reactive</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">Forms</h3>
            <a href="" class="card-link"><img class="card-image" src="./../../assets/forms.png"
                    alt="Angular logo with a form"></a>
            <div class="card-features">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="title">
                                Main Features
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>TD x Reactive</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">Forms</h3>
            <a href="" class="card-link"><img class="card-image" src="./../../assets/forms.png"
                    alt="Angular logo with a form"></a>
            <div class="card-features">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="title">
                                Main Features
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>TD x Reactive</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</section>