<main class="intro">
  <picture class="intro-photo">
    <img class="photo" src="./../../../assets/Profile.png" alt="Photo of me">
  </picture>
  <section class="intro-text">
    <p class="cheering">HI, I'M GABRIEL ABRÃO</p>
    <div class="intro-occupation">
      <p class="occupation">Angular Web Developer</p>
      <img src="./../../../assets/Angular logo.png" alt="Angular's logo" width="50px" style="translate: 0 -7px" />
    </div>    
    <p class="learn">
     Specialized in the Front-End of Web Apps and Websites
    </p>   
    <a href="https://mail.google.com/mail/u/0/?fs=1&to=gguimaraesabrao@gmail.com&tf=cm" target="_blank"><button
        mat-raised-button color="primary">Hire me</button></a>
  </section>
</main>