<main class="intro">
  <picture class="intro-photo">
    <img class="photo" src="./../../../assets/profile-mini.avif" alt="Photo of me">
  </picture>
  <section class="intro-text">
    <span class="cheering">HI, I'M GABRIEL ABRÃO</span>
    <div class="intro-occupation">
      <h1 class="occupation">Front-End Web Developer</h1>
    </div>
    <span class="sub">
      Available for <span class="blue">Front-End projects</span> of any scale. <span class="desk">Welcome to my <span
          class="blue">portfolio!</span></span>
    </span>
    <p class="sub mobile">Welcome to my <span class="blue">portfolio!</span></p>

  </section>
</main>