<main class="intro">
  <picture class="intro-photo">
    <img class="photo" src="./../../../assets/Profile.png" alt="Photo of me">
  </picture>
  <section class="intro-text">
    <p class="cheering">HI, I'M GABRIEL ABRÃO</p>
    <div class="intro-occupation">
      <p class="occupation">Angular Web Developer</p>
      <img class="logo" src="./../../../assets/angular.png" alt="Angular's logo"/>
    </div>
    <p class="sub">
      Available for <span class="blue">Front End projects</span> of any scale. Welcome to my <span
        class="blue">portfolio!</span>
    </p>
  </section>
</main>