.intro {  
  display: flex; 
  gap: 2rem;
  justify-content: center; 
}

.intro-photo {
  width: 15rem;
}

.photo {
  max-width: 100%;
  border-radius: 50%; 
}

.intro-text {
  align-self: center;
}

.cheering {
  font-size: 1.3rem;
  font-weight: 600;  
  line-height: 2;
  letter-spacing: 1.4px;
  color: #FF1744;
}

.intro-occupation {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.occupation {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -1px;  
  line-height: 5.5rem;
}

.logo {
  max-width: 8.5%; 
}

.learn {
  font-size: 1.8rem;
  font-weight: 300; 
  line-height: 2; 
  margin-bottom: 2rem;
}

.blue {
  font-weight: 500;
  color:  #3949AB;
}