:host {
  margin-top: 8rem;
  margin-bottom: 12rem;
}

.intro {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.intro-photo {
  width: 15rem;
}

.photo {
  max-width: 100%;
  border-radius: 50%;
}

.intro-text {
  align-self: center;
  flex: 0 1 55rem;
}

.cheering {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #FF1744;
  padding-left: 0.5rem;
}

.intro-occupation {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.occupation {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.logo {
  width: 6rem;
}

.sub {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  margin-right: 1rem;
}

.blue {
  font-weight: 500;
  color: #3949AB;
}

// ======= QUERIES ========

// Below 816px
@media (max-width: 51em) {

  :host {
    margin-top: 6rem;
    margin-bottom: 8rem;
  }

  .intro {
    gap: 1.2rem;
  }

  .intro-photo {
    width: 13rem;
    margin-left: 2.5rem;
  }

  .occupation {
    font-size: 3.9rem;
  }

  .logo {
    width: 5.3rem;
  }

  .sub {
    line-height: 1.4;
  }
}

// Below 592px
@media (max-width: 37em) {

  .intro {
    flex-direction: column;
    text-align: center;
  }

  .intro-photo {
    width: 18rem;
    margin: auto;
  }

  .intro-text {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .occupation {
    font-size: 3.3rem;
    margin: auto;
  }

  .logo {
    display: none;
  }

  .sub {
    padding: 0 1rem 0;
  }
}