<div *ngIf="pageTitle" aria-live="assertive">
    <span [attr.aria-label]="pageTitle" role="alert"></span>
</div>

<main class="container">
    <h1 class="header">Resume</h1>

    <p class="prg">
        <strong class="blue">Frontend developer</strong> specialized in <strong class="red">Angular</strong> looking for
        new opportunities.
    </p>

    <h2>Experience</h2>

    <h2 class="title">Capgemini <span class="job">(Custom Solutions Analyst | August/2022 - May/2023)</span></h2>
    <h3 class="subtitle">Training and Courses</h3>
    <p class="subtext">Java, Angular, Agile, Soft skills, Git, etc.</p>
    <p class="subtext">Training Projects with team</p>
    <h3 class="subtitle">Working for client in large project</h3>
    <p class="subtext">Tasks in Back-end (JAVA), Front-end (HTML/CSS), and BFF (node.js)</p>
    <p class="subtext">Team work with Agile methodology</p>
    <p class="subtext">Project documentation and decisions</p>
    <p class="subtext">Participation on the stages of a MVP process</p>

    <h2 class="title">Frontend Specialization and first project <span class="job">(June/2023 - December/2023)</span>
    </h2>
    <p class="prg">After the initial experience through all the areas, I've decided to take some months for
        studying and
        specializing in
        FrontEnd
        development, so dived
        into the basics, Web Design and
        Angular Framework, expanding my skills to build a broad spectrum of web applications and
        websites.
    </p>

    <h2>Education</h2>

    <p>UFG</p>

    <p>Pós graduação</p>

    <h2>Skills</h2>

    <h2>Languages</h2>

    <h2>Personal Info</h2>





</main>

<footer class="container social">
    <a href="https://www.linkedin.com/in/gabriel-guimaraes-abrao-001195234/" target="_blank">
        <img class="social-logo" src="assets/LI-In-Bug.png" alt="Author's LinkedIn profile">
    </a>
    <span class="social-text">View my<br aria-hidden="true"> LinkedIn&reg; Profile</span>
</footer>