:host {
    display: block;
    max-width: 100rem;
    margin: auto;
}

.container {
    max-width: 90%;
    margin: auto;
    margin-top: 5rem;
    line-height: 1.15;
}

.header {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 4rem;
}

.subheader {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.list {
    padding-left: 1.7rem;
}

.item {
    margin-bottom: 3rem;
}

.title {
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 0.5rem;
}

.prg {
    line-height: 1.4;
    text-align: justify;
}

.subtitle {
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
    text-indent: 4rem;
}

.subtext {
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: justify;
    text-indent: 4rem;
}

.job {
    font-weight: 400;
}

.social {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 4rem;
}

.social-logo {
    width: 44.45px;
    height: 37.8px;
}

.social-text {
    font-weight: 500;
    font-size: 16px;
}

.divider {
    margin-bottom: 2rem;
}

.space {
    margin-bottom: 4rem;
}