<div *ngIf="pageTitle" aria-live="assertive">
    <span [attr.aria-label]="pageTitle" role="alert"></span>
</div>

<main class="container">
    <h1 class="header">Resume</h1>

    <h2 class="subheader">About</h2>
    <mat-divider class="divider"></mat-divider>
    <p class="prg space">
        <strong>Frontend developer</strong> specialized in <strong>Angular</strong> looking for
        new opportunities.
    </p>

    <h2 class="subheader">Experience</h2>
    <mat-divider class="divider"></mat-divider>

    <ol class="list">
        <li class="item">
            <h3 class="title">Start by Capgemini <span class="job">(May/2022 - July/2022)</span></h3>
            <p class="subtext">Signed in to a program intented to form new developers and give them a chance to start an
                IT
                carreer
                on
                the company. After studying the provided courses (from basic concepts to Angular and Java), I passed
                the exams
                and got the job.
        </li>

        <li class="item">
            <h3 class="title">Capgemini <span class="job">(Custom Solutions Analyst | August/2022 - May/2023)</span>
            </h3>
            <h4 class="subtitle">Training and Courses</h4>
            <p class="subtext">Java, Angular, HTML/CSS, Javascript, Git, etc.</p>
            <p class="subtext">Soft Skills</p>
            <p class="subtext">Agile</p>

            <h4 class="subtitle">Working for client in large project</h4>
            <p class="subtext">Tasks in Backend (JAVA), Frontend (HTML/CSS), and BFF (node.js)</p>
            <p class="subtext">Team work with Agile methodology</p>
            <p class="subtext">Project documentation and decisions</p>
            <p class="subtext">Participation on the stages of a MVP process</p>
        </li>
        <li class="space">
            <h3 class="title">Frontend Specialization and First project <span class="job">(June/2023 -
                    December/2023)</span>
            </h3>
            <p class="subtext">I took some months for
                studying and specializing in Frontend
                development. It expanded my skills among the basics, Web Design, and Angular framework. Lastly, I did
                this
                website to put it all in practice.
            </p>
        </li>
    </ol>

    <h2 class="subheader">Education</h2>
    <mat-divider class="divider"></mat-divider>
    <ul class="list">
        <li><strong>Student on Certificate Program</strong> - Web Applications Development (720h)</li>

        <li class="space"><strong>Civil Engineer</strong> - Bachelor's degree on Universidade Federal de Goiás </li>
    </ul>

    <h2 class="subheader">Skills</h2>
    <mat-divider class="divider"></mat-divider>
    <ul class="list">
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>Angular</li>
        <li>Web Design</li>
        <li>API</li>
        <li>Agile</li>
        <li>Git</li>
        <li>Basic backend - Java, Nodejs, C, SQL</li>
        <li class="space">Basic Linux</li>
    </ul>

    <h2 class="subheader">Languages</h2>
    <mat-divider class="divider"></mat-divider>

    <ul class="list">
        <li>English</li>
        <li class="space">Portuguese (Brazil)</li>
    </ul>

    <h2 class="subheader">Personal Info</h2>
    <mat-divider class="divider"></mat-divider>

    <p>33 years old</p>
    <p>Lives in Brazil - Goiânia (GO)</p>
    <p>gguimaraesabrao&#64;gmail.com</p>
</main>

<footer class="container social">
    <a href="https://www.linkedin.com/in/gabriel-guimaraes-abrao-001195234/" target="_blank">
        <img class="social-logo" src="assets/LI-In-Bug.png" alt="Author's LinkedIn profile">
    </a>
    <span class="social-text">View my<br aria-hidden="true"> LinkedIn&reg; Profile</span>
</footer>