<section aria-labelledby="project-title">
    <h2 class="header" id="project-title">Project</h2>
    <mat-divider class="divider"></mat-divider>
    <p class="content">This website was developed with Angular 17, demonstrating key concepts through practical examples
        and
        explanations <strong>(which can be found in the Demos section)</strong>. The project emphasizes organization,
        best practices, and
        performance, leading to exceptional Lighthouse scores across all metrics.
    </p>
</section>