:host {
    display: block;
    max-width:120rem;
    background-color: lightblue;

}

.grd {
    display: grid; 
    grid-template-columns: 50rem 50rem; 
    grid-template-rows: 1fr 1fr;  
    justify-content: center;   
}

.skills {
    grid-column: 2;
    grid-row: 2; 
}


