.skills {
  display: grid;
  grid-template-columns: 170px 170px 170px;
  row-gap: 30px;
  column-gap: 30px;
  justify-content: center;  
  margin-bottom: 50px;
}

.skill {
  display: flex;
  flex-direction: column;   
  text-align: center; 
 
}

.material-symbols-outlined {
  font-size: 3.6rem;
  width: auto;
  height: auto; 
    

  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' -25,
  'opsz' 36;
}

.content {
  font-size: 1.6rem; 
}



