<section class="skills">
  <div class="skill">
    <mat-icon class="material-symbols-outlined">source</mat-icon>
    <span class="content">Capable for Projects in Any Scale</span>
  </div>
  <div class="skill">
    <mat-icon class="material-symbols-outlined">palette</mat-icon>
    <span class="content">Good Knowleage in Web Design</span>
  </div>
  <div class="skill">
    <mat-icon class="material-symbols-outlined">import_contacts</mat-icon>
    <span class="content">Constantly Learning and Optimizing</span>
  </div>
  <div class="skill">
    <mat-icon class="material-symbols-outlined">straight</mat-icon>
    <span class="content">Keep it Straight and Simple</span>
  </div>
  <div class="skill">
    <mat-icon class="material-symbols-outlined">groups</mat-icon>
    <span class="content">Friendly and Polite</span>
  </div>
  <div class="skill">
    <mat-icon class="material-symbols-outlined">engineering</mat-icon>
    <span class="content">Engineer</span>
  </div>
</section>
