<section>
  <h2 class="header">Skills</h2>
  <mat-divider class="divider"></mat-divider>
  <div class="skills-grid">
    <div class="skill">
      <mat-icon class="material-symbols-outlined">folder_data</mat-icon>
      <span class="content">Projects of Any Scale</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">palette</mat-icon>
      <span class="content">Web Design</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">import_contacts</mat-icon>
      <span class="content">Constantly Learning</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">code</mat-icon>
      <span class="content">HTML, CSS, JS</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">groups</mat-icon>
      <span class="content">Agile Methodologies</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">deployed_code</mat-icon>
      <span class="content">Basic Backend</span>
    </div>
  </div>
</section>