<section class="skills">
  <h2 class="header">Skills</h2>
  <mat-divider class="divider"></mat-divider>
  <div class="skills-grid">
    <div class="skill">
      <mat-icon class="material-symbols-outlined">folder_data</mat-icon>
      <span class="content">Projects in <br>Any Scale</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">palette</mat-icon>
      <span class="content">Web Design<br>Knowledge</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">code_blocks</mat-icon>
      <span class="content">Advanced<br>HTML, CSS, JS</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">groups</mat-icon>
      <span class="content">Experienced <br>with Agile</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">import_contacts</mat-icon>
      <span class="content">Keen to <br>Learn</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">mood</mat-icon>
      <span class="content">Friendly <br>and Polite</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">speed</mat-icon>
      <span class="content">Always <br>Optimizing</span>
    </div>
    <div class="skill">
      <mat-icon class="material-symbols-outlined">engineering</mat-icon>
      <span class="content">Former <br>Engineer</span>
    </div>
  </div>
</section>