<div *ngIf="selectedCourse">
  <h1 class="title">Update course</h1>
  <form class="form" #frm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input #id="ngModel" name="id" [ngModel]="selectedCourse.id" matInput required disabled="true" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input #name="ngModel" type="text" name="name" [(ngModel)]="selectedCourse.name" matInput required
        maxlength="15" />
      <mat-error *ngIf="name.errors?.['required']">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Duration</mat-label>
      <input #duration="ngModel" type="number" name="duration" [(ngModel)]="selectedCourse.duration" matInput required
        min="1" max="100" />
      <mat-error *ngIf="duration.errors?.['required']">Duration is required</mat-error>
      <mat-error *ngIf="duration.errors?.['min']">Min duration is 1</mat-error>
      <mat-error *ngIf="duration.errors?.['max']">Max duration is 100</mat-error>
    </mat-form-field>

    <star-rating-control name="rating" [(ngModel)]="selectedCourse.rating" size="large"
      class="rating"></star-rating-control>
    <div class="buttons">
      <button [disabled]="!frm.form.valid" mat-raised-button color="accent" type="submit">
        Save
      </button>
      <button mat-raised-button type="button" color="warn" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>